<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>35140524889-a5gthtoq3jo93an4fnljdvgah0i9lack.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.35140524889-a5gthtoq3jo93an4fnljdvgah0i9lack</string>
	<key>API_KEY</key>
	<string>AIzaSyBW8MNDtvz-HccbsXwZsoUmbx-qNJtdHKY</string>
	<key>GCM_SENDER_ID</key>
	<string>35140524889</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.constantinekos.Cybertruck---Tesla</string>
	<key>PROJECT_ID</key>
	<string>cybertruck-f9d93</string>
	<key>STORAGE_BUCKET</key>
	<string>cybertruck-f9d93.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:35140524889:ios:8bbe031e9f81b435c08a48</string>
	<key>DATABASE_URL</key>
	<string>https://cybertruck-f9d93.firebaseio.com</string>
</dict>
</plist>